@import url("https://use.typekit.net/xjy6gjk.css");
body {
    font-family: ibm-plex-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.academicWorkOptions button {
    border: rgb(0, 63, 236) solid 1px;
    border-radius: 4px;
    background-color: rgb(0, 0, 73);
    color: rgb(179, 179, 179);
}

.academicWorkOptions button:hover {
    background-color: rgb(32, 32, 102);
    color: rgb(179, 179, 179);
}

.manageTeachersDivContainer {
    z-index: 1000;
    position: absolute;
}

.subjectDivs {
    background-color: rgb(0, 0, 73);
    color: rgb(179, 179, 179);
    border-radius: 5px;
}

.gradeNameHolderDiv,
.subjectNameHolderDiv {
    height: 250px;
    overflow-y: scroll;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(123, 130, 230);
    background-color: rgb(123, 130, 230);
    border-radius: 5px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(0, 9, 136);
    border-radius: 5px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 9, 136);
}

.ShowSubjectNGradeNamesDiv {
    background-color: rgb(0, 59, 117);
    border-radius: 10px;
}

.deleteTeacherTable {
    background-color: darkblue;
}

.deleteIcon {
    width: 20px;
    cursor: pointer;
    max-width: 100%;
}

.updateIcon {
    width: 20px;
    cursor: pointer;
    max-width: 100%;
}

.ragFancyButton {
    border: rgb(0, 63, 236) solid 1px;
    border-radius: 4px;
    background-color: rgb(0, 59, 117);
    color: rgb(179, 179, 179);
}

.ragFancyButton:hover {
    border: rgb(0, 63, 236) solid 1px;
    border-radius: 4px;
    background-color: rgb(179, 179, 179);
    color: rgb(0, 59, 117);
    font-weight: bold;
}

.showRemoveWarningDiv {
    top: 0;
    position: absolute;
    height: 100vh;
    background-color: black;
}

.removeYesButton {
    border: rgb(0, 63, 236) solid 1px;
    border-radius: 4px;
    background-color: rgb(0, 59, 117);
    color: rgb(179, 179, 179);
    width: 100%;
}

.removeNoButton {
    border: rgb(0, 63, 236) solid 1px;
    border-radius: 4px;
    background-color: rgb(117, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
}